.outer {
    border: 2px solid orange;
    text-align: center;
}

.title {
    font-size: 17px;
    font-weight: 600;
    color: rgb(6, 97, 97);
    font-family: sans-serif;
    width: 60px;
    display: inline-block;
}

.subcate {
    border: 2px solid lightblue;
    text-align: center;
}

.wise {
    border: 2px solid palevioletred;
    text-align: center;
}